._22qEau {
    font-family: Portal Movie, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    line-height: 0;
}

._22qEau *, ._22qEau :after, ._22qEau :before {
    box-sizing: inherit;
}

._22qEau svg {
    height: 100%;
    width: 100%;
}

._36qUej {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.i4xv9t {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    border: 1px solid #8197a4;
    border-radius: 3px;
    background-color: rgba(15, 23, 30, .3);
    color: #8197a4;
    padding: 1px 3px 2px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
}

.i4xv9t *, .i4xv9t :after, .i4xv9t :before {
    box-sizing: inherit;
}

.XqYSS8 {
    color: #8197a4;
}

._1zslxR {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    min-width: 22px;
    font-size: 13px;
    font-weight: 700;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -webkit-inline-box;
    display: -moz-inline-flex;
    display: inline-flex;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

._1zslxR *, ._1zslxR :after, ._1zslxR :before {
    box-sizing: inherit;
}

._1zslxR._9VzAtc {
    border: 0;
    padding: 0;
}

._1zslxR .EyZ6mf {
    display: inline-block;
    border-radius: 2px;
    margin: 0;
    height: 20px;
    line-height: 20px;
    min-width: 22px;
}

._1zslxR ._2ikzy6 {
    color: #f2f4f6;
    border: 1px solid #f2f4f6;
    line-height: 18px;
}

._1zslxR ._2ikzy6._2Qs3kC {
    background-color: #000;
}

._2LF_6p {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

._2LF_6p *, ._2LF_6p :after, ._2LF_6p :before {
    box-sizing: inherit;
}

.abwJ5F.abwJ5F.abwJ5F {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

html:not([dir=rtl]) .abwJ5F.abwJ5F.abwJ5F>:not(:last-child) {
    margin-right: 8px;
}

._3QwtCH._3QwtCH._3QwtCH {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

._3QwtCH._3QwtCH._3QwtCH>:not(._2LF_6p) {
    margin-bottom: 12px;
}

html:not([dir=rtl]) ._3QwtCH._3QwtCH._3QwtCH>:not(:last-child) {
    margin-right: 12px;
}

._2QEJQM._2QEJQM._2QEJQM {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

._2QEJQM._2QEJQM._2QEJQM>:not(._2LF_6p) {
    margin-bottom: 16px;
}

._16AW_S {
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

._3KHiTg {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 48px;
}

._3KHiTg *, ._3KHiTg :after, ._3KHiTg :before {
    box-sizing: inherit;
}

@media only screen and (max-width: 64.99em) {
    ._3KHiTg {
        padding: 0 32px;
    }
}

@media only screen and (max-width: 54.99em) {
    ._3KHiTg {
        padding: 0 16px;
    }
}

@media only screen and (max-width: 46.99em) {
    ._3KHiTg {
        padding: 0 12px;
    }
}

@media only screen and (min-width: 90em) {
    ._3KHiTg {
        padding: 0 50px;
    }
}

._1NNx6V {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: #79b8f3;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._1NNx6V:link {
    color: #79b8f3;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

.Gpyvwj._3lV8u4:before {
    background-position: -.5em -198.1em;
    width: 2em;
    height: 2.2em;
}

label {
    display: block;
    padding-left: 0;
    padding-bottom: 0;
}

html h1 {
    margin: 0;
    padding: 0;
}

a, button {
    color: inherit;
    transition: color .3s ease-in-out;
}

a {
    text-decoration: none;
    vertical-align: baseline;
}

input[type=checkbox] {
    vertical-align: baseline;
    margin: 0 .3em 0 0;
}

input {
    vertical-align: middle;
}

button {
    text-align: inherit;
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: 0 0;
    cursor: pointer;
}

input {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

body *, body :after, body :before {
    box-sizing: inherit;
}

body a, body a:link, body a:visited {
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._3KHiTg {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 48px;
}

._3KHiTg *, ._3KHiTg :after, ._3KHiTg :before {
    box-sizing: inherit;
}

@media only screen and (max-width: 64.99em) {
    ._3KHiTg {
        padding: 0 32px;
    }
}

@media only screen and (max-width: 54.99em) {
    ._3KHiTg {
        padding: 0 16px;
    }
}

@media only screen and (max-width: 46.99em) {
    ._3KHiTg {
        padding: 0 12px;
    }
}

@media only screen and (min-width: 90em) {
    ._3KHiTg {
        padding: 0 50px;
    }
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

.Gpyvwj._3lV8u4:before {
    background-position: -.5em -198.1em;
    width: 2em;
    height: 2.2em;
}

._1NNx6V {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: #79b8f3;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._1NNx6V:link {
    color: #79b8f3;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._36qUej {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

label {
    display: block;
    padding-left: 0;
    padding-bottom: 0;
}

html h1 {
    margin: 0;
    padding: 0;
}

a, button {
    color: inherit;
    transition: color .3s ease-in-out;
}

a {
    text-decoration: none;
    vertical-align: baseline;
}

input[type=checkbox] {
    vertical-align: baseline;
    margin: 0 .3em 0 0;
}

input {
    vertical-align: middle;
}

button {
    text-align: inherit;
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: 0 0;
    cursor: pointer;
}

input {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

body *, body :after, body :before {
    box-sizing: inherit;
}

body a, body a:link, body a:visited {
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._22qEau {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    line-height: 0;
}

._22qEau *, ._22qEau :after, ._22qEau :before {
    box-sizing: inherit;
}

._22qEau svg {
    height: 100%;
    width: 100%;
}

._36qUej {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.i4xv9t {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    border: 1px solid #8197a4;
    border-radius: 3px;
    background-color: rgba(15, 23, 30, .3);
    color: #8197a4;
    padding: 1px 3px 2px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
}

.i4xv9t *, .i4xv9t :after, .i4xv9t :before {
    box-sizing: inherit;
}

.XqYSS8 {
    color: #8197a4;
}

._1zslxR {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    min-width: 22px;
    font-size: 13px;
    font-weight: 700;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -webkit-inline-box;
    display: -moz-inline-flex;
    display: inline-flex;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

._1zslxR *, ._1zslxR :after, ._1zslxR :before {
    box-sizing: inherit;
}

._1zslxR._9VzAtc {
    border: 0;
    padding: 0;
}

._1zslxR .EyZ6mf {
    display: inline-block;
    border-radius: 2px;
    margin: 0;
    height: 20px;
    line-height: 20px;
    min-width: 22px;
}

._1zslxR ._2ikzy6 {
    color: #f2f4f6;
    border: 1px solid #f2f4f6;
    line-height: 18px;
}

._1zslxR ._2ikzy6._2Qs3kC {
    background-color: #000;
}

._2LF_6p {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

._2LF_6p *, ._2LF_6p :after, ._2LF_6p :before {
    box-sizing: inherit;
}

.abwJ5F.abwJ5F.abwJ5F {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

html:not([dir=rtl]) .abwJ5F.abwJ5F.abwJ5F>:not(:last-child) {
    margin-right: 8px;
}

._3QwtCH._3QwtCH._3QwtCH {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

._3QwtCH._3QwtCH._3QwtCH>:not(._2LF_6p) {
    margin-bottom: 12px;
}

html:not([dir=rtl]) ._3QwtCH._3QwtCH._3QwtCH>:not(:last-child) {
    margin-right: 12px;
}

._2QEJQM._2QEJQM._2QEJQM {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

._2QEJQM._2QEJQM._2QEJQM>:not(._2LF_6p) {
    margin-bottom: 16px;
}

._16AW_S {
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

._3KHiTg {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 48px;
}

._3KHiTg *, ._3KHiTg :after, ._3KHiTg :before {
    box-sizing: inherit;
}

@media only screen and (max-width: 64.99em) {
    ._3KHiTg {
        padding: 0 32px;
    }
}

@media only screen and (max-width: 54.99em) {
    ._3KHiTg {
        padding: 0 16px;
    }
}

@media only screen and (max-width: 46.99em) {
    ._3KHiTg {
        padding: 0 12px;
    }
}

@media only screen and (min-width: 90em) {
    ._3KHiTg {
        padding: 0 50px;
    }
}

._1NNx6V {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: #79b8f3;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._1NNx6V:link {
    color: #79b8f3;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

.Gpyvwj._3lV8u4:before {
    background-position: -.5em -198.1em;
    width: 2em;
    height: 2.2em;
}

label {
    display: block;
    padding-left: 0;
    padding-bottom: 0;
}

html h1 {
    margin: 0;
    padding: 0;
}

a, button {
    color: inherit;
    transition: color .3s ease-in-out;
}

a {
    text-decoration: none;
    vertical-align: baseline;
}

input[type=checkbox] {
    vertical-align: baseline;
    margin: 0 .3em 0 0;
}

input {
    vertical-align: middle;
}

button {
    text-align: inherit;
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: 0 0;
    cursor: pointer;
}

input {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

body *, body :after, body :before {
    box-sizing: inherit;
}

body a, body a:link, body a:visited {
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._22qEau {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    line-height: 0;
}

._22qEau *, ._22qEau :after, ._22qEau :before {
    box-sizing: inherit;
}

._22qEau svg {
    height: 100%;
    width: 100%;
}

._36qUej {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.i4xv9t {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    border: 1px solid #8197a4;
    border-radius: 3px;
    background-color: rgba(15, 23, 30, .3);
    color: #8197a4;
    padding: 1px 3px 2px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
}

.i4xv9t *, .i4xv9t :after, .i4xv9t :before {
    box-sizing: inherit;
}

.XqYSS8 {
    color: #8197a4;
}

._1zslxR {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    min-width: 22px;
    font-size: 13px;
    font-weight: 700;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -webkit-inline-box;
    display: -moz-inline-flex;
    display: inline-flex;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

._1zslxR *, ._1zslxR :after, ._1zslxR :before {
    box-sizing: inherit;
}

._1zslxR._9VzAtc {
    border: 0;
    padding: 0;
}

._1zslxR .EyZ6mf {
    display: inline-block;
    border-radius: 2px;
    margin: 0;
    height: 20px;
    line-height: 20px;
    min-width: 22px;
}

._1zslxR ._2ikzy6 {
    color: #f2f4f6;
    border: 1px solid #f2f4f6;
    line-height: 18px;
}

._1zslxR ._2ikzy6._2Qs3kC {
    background-color: #000;
}

._2LF_6p {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

._2LF_6p *, ._2LF_6p :after, ._2LF_6p :before {
    box-sizing: inherit;
}

.abwJ5F.abwJ5F.abwJ5F {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

html:not([dir=rtl]) .abwJ5F.abwJ5F.abwJ5F>:not(:last-child) {
    margin-right: 8px;
}

._3QwtCH._3QwtCH._3QwtCH {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

._3QwtCH._3QwtCH._3QwtCH>:not(._2LF_6p) {
    margin-bottom: 12px;
}

html:not([dir=rtl]) ._3QwtCH._3QwtCH._3QwtCH>:not(:last-child) {
    margin-right: 12px;
}

._2QEJQM._2QEJQM._2QEJQM {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

._2QEJQM._2QEJQM._2QEJQM>:not(._2LF_6p) {
    margin-bottom: 16px;
}

._16AW_S {
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

._3KHiTg {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 48px;
}

._3KHiTg *, ._3KHiTg :after, ._3KHiTg :before {
    box-sizing: inherit;
}

@media only screen and (max-width: 64.99em) {
    ._3KHiTg {
        padding: 0 32px;
    }
}

@media only screen and (max-width: 54.99em) {
    ._3KHiTg {
        padding: 0 16px;
    }
}

@media only screen and (max-width: 46.99em) {
    ._3KHiTg {
        padding: 0 12px;
    }
}

@media only screen and (min-width: 90em) {
    ._3KHiTg {
        padding: 0 50px;
    }
}

._1NNx6V {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: #79b8f3;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._1NNx6V:link {
    color: #79b8f3;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

.Gpyvwj._3lV8u4:before {
    background-position: -.5em -198.1em;
    width: 2em;
    height: 2.2em;
}

._3I-nQy._3I-nQy._3I-nQy {
    margin-bottom: 12px;
    font-size: 35px;
    line-height: 36px;
    color: white;
}

@media only screen and (max-width: 64.99em) {
    ._3I-nQy._3I-nQy._3I-nQy {
        font-size: 30px;
        line-height: 32px;
    }
}

._2IIDsE {
    width: 100%!important;
}

.HaWow5 {
    pointer-events: auto;
}

._3AGscX {
    position: relative;
    line-height: 0;
}

.Zk8aEm {
    transition: opacity .4s ease 0ms;
    opacity: 0;
}

.atfimgloaded #atf-full {
    opacity: 1;
}

.atfimgloaded #atf-thumb {
    visibility: hidden;
}

._3Ey1L9 {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    transition: visibility 0ms ease .4s;
    visibility: visible;
}

html:not([dir=rtl]) ._3Ey1L9 {
    left: 0;
}

.mlmPSf {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
}

.mlmPSf *, .mlmPSf :after, .mlmPSf :before {
    box-sizing: inherit;
}

.mlmPSf .wgGFDs {
    display: none;
}

.mlmPSf ._1W5VSv {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mlmPSf ._1wxob_ {
    overflow: hidden;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    max-height: 192px;
    color: white;
}

.-dmR1h.-dmR1h.-dmR1h {
    margin-bottom: 12px;
    pointer-events: auto;
}

._1XdgZK._1XdgZK._1XdgZK {
    margin-bottom: 16px;
}

html:not([dir=rtl]) ._1XdgZK._1XdgZK._1XdgZK {
    max-width: 800px;
}

._1XdgZK._1XdgZK._1XdgZK label {
    color: #79b8f3;
}

._3fuIyl._3fuIyl {
    text-align: initial;
}

._3vxMzE._3vxMzE._3vxMzE {
    color: #8197a4;
}

@media only screen and (max-width: 27.99em) {
    ._3vxMzE._3vxMzE._3vxMzE>* {
        margin-bottom: 0;
    }
}

._1D5Acx {
    position: relative;
}

._1D5Acx._1D5Acx._1D5Acx._1D5Acx {
    margin-bottom: 8px;
}

._28Bfau {
    opacity: 1;
    transition-property: opacity;
    transition-duration: .4s;
}

._266mZB dl {
    display: table-row;
    font-size: 17px;
    line-height: normal;
    pointer-events: auto;
}

._266mZB dt {
    font-weight: 700;
    white-space: nowrap;
    display: table-cell;
    vertical-align: top;
    float: none;
    margin: 0;
    color: #8197a4;
}

html:not([dir=rtl]) ._266mZB dt {
    padding: 0 20px 0 0;
}

._266mZB dd {
    display: table-cell;
    float: none;
    margin: 0;
    color: #8197a4;
}

._3u-3mI ._266mZB {
    max-width: 800px;
}

._2y5Q0c {
    word-break: break-word;
}

._30UT8H._30UT8H._30UT8H {
    margin-bottom: 48px;
}

.FDDgZI {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    direction: ltr;
}

html:not([dir=rtl]) .FDDgZI svg {
    margin-right: 4px;
}

.av-detail-section ._3y6hZ6 {
    font-size: 13.4px;
}

.fVWsBr {
    position: absolute;
    overflow: hidden;
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
}

html:not([dir=rtl]) .fVWsBr {
    right: 0;
}

._3hF9WT {
    position: relative;
    max-height: 100%;
}

._2ZnCkI._2ZnCkI._2ZnCkI {
    width: 100%;
    overflow: hidden;
}

._3Lykuc._3Lykuc, ._33xhZL._33xhZL {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(15, 23, 30, .1);
    pointer-events: none;
}

html:not([dir=rtl]) ._3Lykuc {
    background: linear-gradient(90deg, #0f171e 10%, rgba(15, 23, 30, 0) 60%);
}

._33xhZL._33xhZL {
    background: linear-gradient(0deg, #0f171e 0, rgba(15, 23, 30, 0) 50%);
}

.fVWsBr {
    width: 60%;
}

.Coi_ha {
    opacity: 1;
    filter: alpha(opacity=100);
    transition: opacity .5s ease;
}

html:not([dir=rtl]) ._3Lykuc {
    background: linear-gradient(90deg, #0f171e 10%, rgba(15, 23, 30, 0));
}

._1472H- {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

._1472H- a, ._1472H- a:link, ._1472H- a:visited {
    color: #79b8f3;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._1WCtm8._1WCtm8._1WCtm8 {
    margin-bottom: 0px;
}

._1472H-:after, ._1472H-:before {
    content: " ";
    display: table;
}

._1472H-:after {
    clear: both;
}

.av-detail-section {
    margin-top: 48px;
    position: relative;
}

._2hu-aV, .av-detail-section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

@media (max-height: 780px) {
    body #dv-action-box-wrapper, body .dv-dp-node-synopsis {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 0;
        -ms-flex-order: 0;
        -webkit-order: 0;
        order: 0;
    }

    body .dv-dp-node-meta-info {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }

    body .dv-dp-node-bottom {
        -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
    }
}

@media (max-height: 640px) {
    body .dv-dp-node-synopsis {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }

    body .dv-dp-node-meta-info {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }

    body .dv-dp-node-bottom {
        -webkit-box-ordinal-group: 5;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 4;
        -webkit-order: 4;
        order: 4;
    }
}

._1soPIu._1soPIu._1soPIu {
    margin: 0;
    padding: 0;
}

._2T-E4t {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    align-items: baseline;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    overflow: visible;
    position: relative;
    margin-top: 12px;
    margin-bottom: 48px;
    width: 100%;
    pointer-events: auto;
}

@media only screen and (max-width: 64.99em) {
    ._2T-E4t {
        font-size: 13px;
        line-height: 16px;
    }
}

._8n5jYM._8n5jYM._8n5jYM {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 17px;
    line-height: 24px;
}

@media only screen and (max-width: 64.99em) {
    ._8n5jYM._8n5jYM._8n5jYM {
        font-size: 15px;
        line-height: 20px;
    }
}

._3Vj7e7 {
    display: inline-block;
    height: 24px;
    width: 24px;
}

html:not([dir=rtl]) ._3Vj7e7 {
    margin-right: .3em;
}

._2hn8r7 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

._2hn8r7 ._3Vj7e7 {
    transition: all .2s ease-out;
    opacity: .7;
    filter: alpha(opacity=70);
}

._2hn8r7 button {
    vertical-align: baseline;
}

._22qEau {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    line-height: 0;
}

._22qEau *, ._22qEau :after, ._22qEau :before {
    box-sizing: inherit;
}

._22qEau svg {
    height: 100%;
    width: 100%;
}

label {
    display: block;
    padding-left: 0;
    padding-bottom: 0;
}

html h1 {
    margin: 0;
    padding: 0;
}

a, button {
    color: inherit;
    transition: color .3s ease-in-out;
}

a {
    text-decoration: none;
    vertical-align: baseline;
}

input[type=checkbox] {
    vertical-align: baseline;
    margin: 0 .3em 0 0;
}

input {
    vertical-align: middle;
}

button {
    text-align: inherit;
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: 0 0;
    cursor: pointer;
}

input {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

body *, body :after, body :before {
    box-sizing: inherit;
}

body a, body a:link, body a:visited {
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._22qEau {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    line-height: 0;
}

._22qEau *, ._22qEau :after, ._22qEau :before {
    box-sizing: inherit;
}

._22qEau svg {
    height: 100%;
    width: 100%;
}

._36qUej {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.i4xv9t {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    border: 1px solid #8197a4;
    border-radius: 3px;
    background-color: rgba(15, 23, 30, .3);
    color: #8197a4;
    padding: 1px 3px 2px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
}

.i4xv9t *, .i4xv9t :after, .i4xv9t :before {
    box-sizing: inherit;
}

.XqYSS8 {
    color: #8197a4;
}

._1zslxR {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    min-width: 22px;
    font-size: 13px;
    font-weight: 700;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -webkit-inline-box;
    display: -moz-inline-flex;
    display: inline-flex;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

._1zslxR *, ._1zslxR :after, ._1zslxR :before {
    box-sizing: inherit;
}

._1zslxR._9VzAtc {
    border: 0;
    padding: 0;
}

._1zslxR .EyZ6mf {
    display: inline-block;
    border-radius: 2px;
    margin: 0;
    height: 20px;
    line-height: 20px;
    min-width: 22px;
}

._1zslxR ._2ikzy6 {
    color: #f2f4f6;
    border: 1px solid #f2f4f6;
    line-height: 18px;
}

._1zslxR ._2ikzy6._2Qs3kC {
    background-color: #000;
}

._2LF_6p {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

._2LF_6p *, ._2LF_6p :after, ._2LF_6p :before {
    box-sizing: inherit;
}

.abwJ5F.abwJ5F.abwJ5F {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

html:not([dir=rtl]) .abwJ5F.abwJ5F.abwJ5F>:not(:last-child) {
    margin-right: 8px;
}

._3QwtCH._3QwtCH._3QwtCH {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

._3QwtCH._3QwtCH._3QwtCH>:not(._2LF_6p) {
    margin-bottom: 12px;
}

html:not([dir=rtl]) ._3QwtCH._3QwtCH._3QwtCH>:not(:last-child) {
    margin-right: 12px;
}

._2QEJQM._2QEJQM._2QEJQM {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

._2QEJQM._2QEJQM._2QEJQM>:not(._2LF_6p) {
    margin-bottom: 16px;
	margin-right: 20px;
}

._16AW_S {
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

._3KHiTg {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 48px;
}

._3KHiTg *, ._3KHiTg :after, ._3KHiTg :before {
    box-sizing: inherit;
}

@media only screen and (max-width: 64.99em) {
    ._3KHiTg {
        padding: 0 32px;
    }
}

@media only screen and (max-width: 54.99em) {
    ._3KHiTg {
        padding: 0 16px;
    }
}

@media only screen and (max-width: 46.99em) {
    ._3KHiTg {
        padding: 0 12px;
    }
}

@media only screen and (min-width: 90em) {
    ._3KHiTg {
        padding: 0 50px;
    }
}

._1NNx6V {
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: #79b8f3;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._1NNx6V:link {
    color: #79b8f3;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

.Gpyvwj._3lV8u4:before {
    background-position: -.5em -198.1em;
    width: 2em;
    height: 2.2em;
}

label {
    display: block;
    padding-left: 0;
    padding-bottom: 0;
}

html h1 {
    margin: 0;
    padding: 0;
}

a, button {
    color: inherit;
    transition: color .3s ease-in-out;
}

a {
    text-decoration: none;
    vertical-align: baseline;
}

input[type=checkbox] {
    vertical-align: baseline;
    margin: 0 .3em 0 0;
}

input {
    vertical-align: middle;
}

button {
    text-align: inherit;
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: 0 0;
    cursor: pointer;
}

input {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

body *, body :after, body :before {
    box-sizing: inherit;
}

body a, body a:link, body a:visited {
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rating {
    display: inline-block;
    float: left;
    margin: 1px 5px 10px 0!important;
    vertical-align: top;
    position: relative!important;
    right: auto!important;
    top: 2px!important;
}

.star {
    color: #999!important;
}

.star.on {
    color: #1a76d2!important;
}

.rating {
    position: absolute;
    right: 0;
    top: 85px;
}

.star {
    font-size: x-large;
    width: 24px;
    display: inline-block;
    color: #c2c2c2;
    margin-bottom: 20px;
    cursor: pointer;
}

.star:before {
    content: '\2605';
    position: absolute;
}

.star.on {
    color: #1a76d2;
}

.star.zero:after {
    content: '\2605';
    color: #1a76d2;
    position: absolute;
    overflow: hidden;
    width: 0;
}

.rating {
    display: inline-block;
    margin: -5px 5px 0 0!important;
    vertical-align: top;
}

.star {
    font-size: x-large!important;
    width: 23px!important;
    margin-bottom: 25px!important;
}

.rating {
    margin: 6px;
}

.star {
    font-size: xx-large;
    width: 38px;
    display: inline-block;
    color: #c2c2c2;
    margin-bottom: 20px;
    cursor: pointer;
}

.star:before {
    content: '\2605';
    position: absolute;
}

.star.on {
    color: #1a76d2;
}

.star.zero:after {
    content: '\2605';
    color: #1a76d2;
    position: absolute;
    overflow: hidden;
    width: 0;
}

.desc-auto {
    font-family: 'Portal Movie';
    font-size: 17px;
    line-height: 24px;
    max-width: 758px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating {
    display: inline-block;
    float: left;
    margin: 1px 5px 10px 0!important;
    vertical-align: top;
    position: relative!important;
    right: auto!important;
    top: 2px!important;
}

.star {
    color: #999!important;
}

.star.on {
    color: #1a76d2!important;
}

.rating {
    position: absolute;
    right: 0;
    top: 85px;
}

.star {
    font-size: x-large;
    width: 24px;
    display: inline-block;
    color: #c2c2c2;
    margin-bottom: 20px;
    cursor: pointer;
}

.star:before {
    content: '\2605';
    position: absolute;
}

.star.on {
    color: #1a76d2;
}

.star.zero:after {
    content: '\2605';
    color: #1a76d2;
    position: absolute;
    overflow: hidden;
    width: 0;
}

.rating {
    display: inline-block;
    margin: -5px 5px 0 0!important;
    vertical-align: top;
}

.star {
    font-size: x-large!important;
    width: 23px!important;
    margin-bottom: 25px!important;
}

.rating {
    margin: 6px;
}

.star {
    font-size: xx-large;
    width: 38px;
    display: inline-block;
    color: #c2c2c2;
    margin-bottom: 20px;
    cursor: pointer;
}

.star:before {
    content: '\2605';
    position: absolute;
}

.star.on {
    color: #1a76d2;
}

.star.zero:after {
    content: '\2605';
    color: #1a76d2;
    position: absolute;
    overflow: hidden;
    width: 0;
}