#pv-footer.pv-footer {
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	padding: 24px;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	color: #8197a4;
	background-color: #0f171e;
	-webkit-font-smoothing: antialiased;
}

#pv-footer.pv-footer ul {
	margin: 0;
	padding: 0;
}

#pv-footer.pv-footer .pv-brand-logo {
    width: 112px;
    height: 40px;
    background-position: left 0;
    top: 0px;
    position: relative;
    display: block;
    margin: 0 auto;
}

#pv-footer.pv-footer .pv-brand-logo {
    background-image: url(../images/logo.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
}

@media only screen and (max-width:64.99em) {
	#pv-footer.pv-footer {
		font-size: 13px;
		line-height: 16px;
	}
}

#pv-footer.pv-footer li {
	display: inline-block;
	white-space: normal;
	padding: 4px;
	color: #8197a4;
}

#pv-footer.pv-footer li:not(:last-child):after {
	content: " ";
	white-space: normal;
	height: 0;
	padding: 4px;
}
