header#pm-nav.pm-nav .pm-nav-main-menu {
    display: block;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    pointer-events: all;
    position: relative
}

header#pm-nav.pm-nav .pm-nav-main-menu ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
	padding-left: 0px !important;
	float: right;
}

header#pm-nav.pm-nav .pm-nav-main-menu li {
    white-space: nowrap
}

header#pm-nav.pm-nav .pm-nav-main-menu a {
    outline: 0 none;
    color: rgba(242,244,246,.9)
}

header#pm-nav.pm-nav .pm-nav-main-menu input[type=checkbox]:checked,header#pm-nav.pm-nav .pm-nav-main-menu input[type=checkbox]:checked~label,header#pm-nav.pm-nav .pm-nav-main-menu input[type=checkbox]:checked~ul {
    z-index: 203
}

header#pm-nav.pm-nav .pm-nav-main-menu .pm-nav-main-menu-switch:focus~label,header#pm-nav.pm-nav .pm-nav-main-menu a.pm-highlighted,header#pm-nav.pm-nav .pm-nav-main-menu a:active,header#pm-nav.pm-nav .pm-nav-main-menu a:focus,header#pm-nav.pm-nav .pm-nav-main-menu a:hover,header#pm-nav.pm-nav .pm-nav-main-menu label:hover {
    color: #fff
}

header#pm-nav.pm-nav .pm-nav-main-menu a,header#pm-nav.pm-nav .pm-nav-main-menu label {
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

@media only screen and (max-width: 49.17em) {
    header#pm-nav.pm-nav .pm-nav-main-menu label.pm-nav-main-menu-label {
        outline:0 none;
        display: inline-block;
        width: auto;
        color: #8197a4;
        padding: 8px;
        position: relative;
        float: right;
		padding-right: 32px
    }

    header#pm-nav.pm-nav .pm-nav-main-menu label.pm-nav-main-menu-label:before {
        content: "";
        position: absolute;
        top: 50%;
        display: block;
        height: 0;
        width: 0;
        border-top: .267rem solid #8197a4;
        border-right: .267rem solid transparent;
        border-left: .267rem solid transparent;
        -webkit-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
		right: 16px
    }
	
    header#pm-nav.pm-nav .pm-nav-main-menu input[type=checkbox]:checked~label:before {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg)
    }
	
    header#pm-nav.pm-nav .pm-nav-container {
        padding:16px 12px
    }
	
    header#pm-nav.pm-nav .pm-nav-main-menu ul {
        display: none;
    }
}

@media only screen and (min-width: 49.18em) {
    header#pm-nav.pm-nav .pm-nav-main-menu label.pm-nav-main-menu-label {
        display: none;
    }
	
	header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu input[type=checkbox]+ul {
		display: none !important;
	}

    header#pm-nav.pm-nav .pm-nav-main-menu ul {
        padding: 0 16px;
        opacity: 1
    }
	
    header#pm-nav.pm-nav .pm-nav-main-menu li {
        display: inline-block
    }

    header#pm-nav.pm-nav .pm-nav-main-menu a {
        display: inline-block;
        width: auto;
        padding: 0;
        margin: 8px
    }
}

header#pm-nav.pm-nav .pm-nav-search {
    order: 1;
    margin: 0;
    pointer-events: none;
    z-index: 1
}

html header#pm-nav.pm-nav .pm-nav-search {
    margin-right: 16px
}

header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-form {
    pointer-events: none;
    width: 100%;
}

header#pm-nav.pm-nav .pm-nav-search input.pm-nav-search-query {
    background-image: url("../images/icons/old_search.svg");
    -webkit-appearance: none;
    color: #8197a4;
    width: 325px;
    cursor: pointer;
    border: 1px solid rgba(129,151,164,.5);
    background-color: rgba(15,23,30,.2);
    background-repeat: no-repeat;
    font-size: 17px;
    line-height: 24px;
    padding: 7px 0;
    box-shadow: none;
    float: right;
    margin: 0;
    pointer-events: all;
    height: auto
}

@media only screen and (min-width: 65em) and (max-width: 71.30em) {
    header#pm-nav.pm-nav .pm-nav-search input.pm-nav-search-query {
        max-width: 222px
    }
}

html header#pm-nav.pm-nav .pm-nav-search input.pm-nav-search-query {
    background-position: center left 7px;
	padding-left: 34px
}

@media only screen and (min-width: 65em) {
    header#pm-nav.pm-nav .pm-nav-search input.pm-nav-search-query:hover {
        border:1px solid rgba(129,151,164,.7)
    }

    header#pm-nav.pm-nav .pm-nav-search input.pm-nav-search-query:focus {
        border: 1px solid #8197a4;
        background-color: rgba(15,23,30,.5)
    }
	
    header#pm-nav.pm-nav .pm-nav-search-suggestions {
        position:relative;
        top: 16px;
    }
}

@media only screen and (max-width: 64.99em) {
    header#pm-nav.pm-nav .pm-nav-search input.pm-nav-search-query {
        width:0;
        background-color: transparent;
        border: 0;
        font-size:15px;
        line-height: 20px
    }
}

header#pm-nav.pm-nav .pm-nav-search input.pm-nav-search-query::-webkit-input-placeholder,header#pm-nav.pm-nav .pm-nav-search input.pm-nav-search-query::placeholder {
    color: #999
}

header#pm-nav.pm-nav .pm-nav-search input.pm-nav-search-query::-webkit-search-cancel-button {
    background-image: url("../images/icons/cancel.svg");
    -webkit-appearance: none;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 19px;
    width: 19px
}

header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-query:focus {
    color: #fff;
    outline: 0;
    border: 1px solid #8197a4;
    background-color: #0f171e;
    z-index: 203
}

html header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-query:focus {
    padding-right: 7px
}

@media only screen and (max-width: 54.99em) {
    header#pm-nav.pm-nav input.pm-nav-search-query:focus {
        width:-moz-calc(100vw - 59px);
        width: -webkit-calc(100vw - 59px);
        width: -o-calc(100vw - 59px);
        width: calc(100vw - 59px);
        width: expression(100vw - 19px - 32px - 8px);
        margin: 8px;
        height: 55px !important;
        top: 0px !important;
        margin-top: 0px !important;
        left: 0px;
        margin-left: 0px !important;
        border: none !important;
        background: #0f171e !important;
    }
	
    header#pm-nav.pm-nav .pm-nav-dropl {
        width:auto
    }
	
    header#pm-nav.pm-nav .pm-nav-dropl input[type=checkbox]:checked~ul {
        bottom: 0;
        display: block;
        height: 100vh;
        left: 0;
        line-height: 20px;
        margin: 0;
        max-height: 100vh!important;
        max-width: 100vw!important;
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: 56px;
        position: fixed;
        right: 0;
        top: 0;
        white-space: nowrap;
        width: 100%;
        z-index: 203
    }
	
    header#pm-nav.pm-nav .pm-nav-reol .pm-nav-main-menu .pm-nav-main-menu-label.pm-nav-main-menu-label {
        float:left;
        padding-left: 0;
        margin-left: -16px
    }
	
    header#pm-nav.pm-nav .pm-nav-container {
        padding:16px
    }
	
    header#pm-nav.pm-nav .pm-nav-container .pm-brand-logo {
        top:3px
    }
	
    header#pm-nav.pm-nav input.pm-nav-search-query {
        margin-bottom: 0!important;
        background-position: right 50px
    }

    header#pm-nav.pm-nav input.pm-nav-search-query:focus {
        width: calc(100vw - 59px)
    }

    header#pm-nav.pm-nav .pm-nav-main-menu.pm-nav-main-menu-elcano label.pm-nav-main-menu-label:before,header#pm-nav.pm-nav .pm-nav-main-menu label.pm-nav-main-menu-label:before {
        border-top: 4px solid #b1b1b1;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent
    }
}

@media only screen and (min-width: 55em) and (max-width:64.99em) {
    header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-query:focus {
        width:-moz-calc(100vw - 67px);
        width: -webkit-calc(100vw - 67px);
        width: -o-calc(100vw - 67px);
        width: calc(100vw - 67px);
        width: expression(100vw - 19px - 48px);
        margin: 16px
    }
	
    header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-reset {
        height:72px;
        background-color: #0f171e;
        width: 67px;
    }

    header#pm-nav.pm-nav {
        height:72px
    }
}

@media only screen and (max-width: 64.99em) {
    header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-query:focus {
        position:absolute;
        top: 2px;
        float: left
    }

    html header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-query:focus {
        right: 51px
    }
	
    html header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-query:focus {
        margin-right: 0
    }
}

header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-query:focus,header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-query:hover {
    border-color: #8197a4;
    outline: 0;
    box-shadow: none;
    background-image: url("../images/icons/search.svg")
}

header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-reset {
    background-image: url("../images/icons/reset.svg");
    color: transparent;
    position: absolute;
    top: -99999px;
    opacity: 0;
    outline: 0;
    border: 0;
    margin: 0;
    height: 56px;
    width: 51px;
    display: block;
    background-color: #1b2530;
    background-position: 50%;
    background-repeat: no-repeat;
    pointer-events: all;
    cursor: pointer
}

html header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-reset {
    right: 0
}

@media only screen and (min-width: 55em) and (max-width: 64.99em) {
    header#pm-nav.pm-nav .pm-nav-search-query:focus {
        height: 56px !important;
        top: 0px !important;
        margin-top: 0px !important;
        left: 0px;
        margin-left: 0px !important;
        border: none !important;
        background: #0f171e !important;
    }
}

@media only screen and (min-width: 28em) and (max-width:49.17em) {
    header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-reset {
        height:56px;
        background-color: #0f171e;
        width: 59px;
    }
}

@media only screen and (min-width: 49.18em) and (max-width:54.99em) {
    header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-reset {
        height:56px;
        background-color: #0f171e;
        width: 59px;
    }
}

@media only screen and (min-width: 65em) and (max-width:89.99em) {
    header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-reset {
        height:72px;
        background-color: #0f171e;
        width: 67px;
    }
}

@media only screen and (min-width: 90em) {
    header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-reset {
        height:80px;
    }
}

@media only screen and (max-width: 64.99em) {
    header#pm-nav.pm-nav .pm-nav-search .pm-nav-search-query:focus~.pm-nav-search-reset {
        top:0;
        opacity: 1;
        z-index: 203
    }
}

header#pm-nav.pm-nav .pm-nav-search-query {
    -webkit-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out
}

header#pm-nav.pm-nav .pm-nav-search-suggestions {
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

header#pm-nav.pm-nav .pm-nav-search-suggestions > ol {
    list-style: none;
    padding: 0;
    position: absolute;
    margin-top: 40px;
    pointer-events: all;
    background: #252e39;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    width: 584px
}

html header#pm-nav.pm-nav .pm-nav-search-suggestions > ol {
	overflow-y: auto;
	height: auto;
	position: fixed;
}

@media only screen and (max-width: 64.99em) {
    header#pm-nav.pm-nav .pm-nav-search-suggestions > ol {
        top:0;
        width: 100%;
        margin-top: 56px;
        left: 0;
        right: 0;
        background: #0f171e;
		max-height: calc(100% - 52px);
    }
}

@media only screen and (min-width: 65em) and (max-width: 89.99em) {
    header#pm-nav.pm-nav .pm-nav-search-suggestions > ol {
        right: 81px !important;
		max-height: calc(100% - 72px);
    }
}

@media only screen and (min-width: 90em) {
    header#pm-nav.pm-nav .pm-nav-search-suggestions > ol {
        right: 81px !important;
		max-height: calc(100% - 80px);
    }
}

header#pm-nav.pm-nav .pm-nav-search-suggestions li {
    list-style: none
}

header#pm-nav.pm-nav .pm-nav-dropl {
    display: inline-block;
    position: relative;
    overflow: visible;
    box-sizing: inherit
}

header#pm-nav.pm-nav .pm-nav-dropl ul {
    top: 150%;
    position: absolute;
    padding: 0;
    margin: 0;
    border-top-left-radius: 0;
    max-height: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 203;
    border-radius: 3px;
    background: #252e39;
    box-shadow: 0 4px 8px #000;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

html header#pm-nav.pm-nav .pm-nav-dropl ul {
    left: auto
}

html header#pm-nav.pm-nav .pm-nav-dropl ul {
    right: 0
}

header#pm-nav.pm-nav .pm-nav-dropl ul li {
    color: #c4cacf;
    display: block;
    white-space: nowrap;
    position: relative;
    z-index: 203
}

header#pm-nav.pm-nav .pm-nav-dropl ul li a {
    line-height: 20px;
    color: #c4cacf;
    display: block;
    outline: 0;
    border-bottom: 1px solid #323e4c;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

html header#pm-nav.pm-nav .pm-nav-dropl ul li a {
    padding: 14px 48px 14px 20px
}

@media only screen and (max-width: 27.99em) {
    header#pm-nav.pm-nav .pm-nav-dropl ul li {
        word-break: break-all
    }
}

header#pm-nav.pm-nav .pm-nav-dropl input[type=checkbox]:checked~ul {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto
}


header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu {
    order: 3
}

header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu {
    max-width: 125px
}

header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu input[type=checkbox]:checked~ul {
    overflow-x: hidden;
    overflow-y: auto
}

header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu input[type=checkbox]:checked~ul {
    display: inline-table;
    height: 0;
    padding: 0;
    top: 56px
}

header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl {
    padding-right: 16px
}

header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl input[type=checkbox] {
    display: none
}

@media only screen and (max-width: 54.99em) and (min-width:28em) {
    header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl {
        height:70px
    }
}

@media only screen and (max-width: 54.99em) and (min-width:28em) and (min-width:28em) and (max-width:49.17em) {
    header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl input[type=checkbox]:checked:before {
        top:56px
    }
}

@media only screen and (max-width: 54.99em) and (min-width:28em) and (min-width:49.18em) and (max-width:54.99em) {
    header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl input[type=checkbox]:checked:before {
        top:56px
    }
}

header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl ul .pm-menu-reol-heading {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    display: none;
    font-family: Portal Movie Heavy,Arial,sans-serif;
    padding-bottom: 4px
}

header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl ul .pm-nav-dropl-column {
    float: right;
    width: 50%;
    padding: 4px;
    border-left: 1px solid #414c53;
    margin-right: -1px
}

header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl ul .pm-nav-dropl-column.pm-nav-dropl-column-left {
    border-right: 1px solid #414c53;
    border-left: none
}

header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl ul .pm-nav-dropl-column li a {
    border: none;
    padding: 12px;
    white-space: normal;
    color: #c4cacf;
    word-break: break-word
}

header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl ul:after {
    content: "";
    display: table;
    clear: both
}

@media only screen and (max-width: 27.99em) {
    header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu input[type=checkbox]:checked~ul {
        padding: 8px
    }

    header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu input[type=checkbox]:checked~ul .pm-nav-dropl-column {
        border: none;
        padding: 16px 8px 8px
    }

    header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu input[type=checkbox]:checked~ul .pm-nav-dropl-column.pm-nav-dropl-column-right {
        border-bottom: 1px solid #0f171e
    }

    header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl ul .pm-menu-reol-heading {
        display: inline-block
    }

    header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl ul .pm-nav-dropl-column {
        padding: 8px;
        float: unset;
        width: 100%
    }
	
    header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl ul .pm-nav-dropl-column .profile-item li,header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl ul .pm-nav-dropl-column li a {
        padding-left: 0
    }

    header#pm-nav.pm-nav .pm-nav-reol .pm-nav-mobile-menu.pm-nav-dropl ul .pm-nav-dropl-column.pm-nav-dropl-column-right {
        position: relative;
        right: 0
    }

    header#pm-nav.pm-nav .pm-nav-reol .pm-nav-search {
        margin: 0;
        padding-right: 4px
    }

    header#pm-nav.pm-nav .pm-nav-reol .pm-nav-main-menu .pm-nav-main-menu-label.pm-nav-main-menu-label {
        float: left;
        padding-left: 0;
        margin-left: -16px
    }
}

@media only screen and (max-width: 27.99em) {
    .pm-nav-mobile-menu {
        max-width:120px
    }
}

.pm-nav-mobile-menu .portal-movies-avatar {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    border-radius: 50%
}

.pm-nav-mobile-menu input[type=checkbox] {
    display: none
}

.pm-nav-mobile-menu .pm-nav-dropl-column-right {
    position: relative;
    float: right
}

@media only screen and (max-width: 27.99em) {
    .pm-nav-mobile-menu .pm-nav-dropl-column-right {
        right:-48px;
        width: 100vw
    }
}

.pm-nav-mobile-menu .pm-nav-dropl-column-right li {
    font-size: 15px;
    display: inline-block;
    width: 100%;
    color: rgba(242,244,246,.7);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

html .pm-nav-mobile-menu .pm-nav-dropl-column-right li .portal-movies-avatar {
    margin-right: 8px
}

.pm-nav-mobile-menu .pm-nav-dropl-column-right li a {
    color: inherit;
    display: block;
    padding: 12px 16px
}

input[type=search] {
    background-position: 7px;
    background-repeat: no-repeat;
    padding-left: 34px;
    margin-top: 0;
    -webkit-appearance: none;
    background-image: url("../images/icons/old_search.svg")
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-color: transparent;
    background-image: url('../images/icons/cancel.svg');
    background-repeat: no-repeat;
    height: 19px;
    width: 19px
}

header#pm-nav.pm-nav {
    background-color: #0f171e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    margin: 0;
    padding: 0;
    color: rgba(242,244,246,.9);
    display: block;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    height: 56px;
    font-size: 17px;
    line-height: 24px;
    background-image: -webkit-linear-gradient(top,#1b2530,rgba(27,37,48,.85));
    background-image: -o-linear-gradient(top,#1b2530 0,rgba(27,37,48,.85) 100%);
    background-image: linear-gradient(180deg,#1b2530 0,rgba(27,37,48,.85));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF1B2530",endColorstr="#D91B2530",GradientType=0)
}

@media only screen and (min-width: 28em) and (max-width:49.17em) {
    header#pm-nav.pm-nav {
        height:56px
    }
}

@media only screen and (min-width: 49.18em) and (max-width:54.99em) {
    header#pm-nav.pm-nav {
        height:56px
    }
}

@media only screen and (min-width: 65em) and (max-width:89.99em) {
    header#pm-nav.pm-nav {
        height:72px
    }
}

@media only screen and (min-width: 90em) {
    header#pm-nav.pm-nav {
        height:80px
    }
}

@media only screen and (max-width: 64.99em) {
    header#pm-nav.pm-nav {
        font-size:15px;
        line-height: 20px
    }
}

header#pm-nav.pm-nav * {
    box-sizing: inherit
}

header#pm-nav.pm-nav .pm-nav-screen-reader-only {
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0!important;
    border: 0!important;
    height: 1px!important;
    width: 1px!important;
    overflow: hidden
}

header#pm-nav.pm-nav a {
    vertical-align: baseline
}

header#pm-nav.pm-nav form {
    margin: 0;
    border: 0
}

header#pm-nav.pm-nav input[type=checkbox] {
    display: inline-block;
    position: relative;
    overflow: visible
}

header#pm-nav.pm-nav .pm-nav-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 16px 48px
}

@media only screen and (max-width: 64.99em) {
    header#pm-nav.pm-nav .pm-nav-container {
        padding:16px 32px
    }
}

@media only screen and (max-width: 64.99em) and (max-width:54.99em) {
    header#pm-nav.pm-nav .pm-nav-container {
        padding:8px 32px
    }
}

@media only screen and (max-width: 54.99em) and (max-width:54.99em) {
    header#pm-nav.pm-nav .pm-nav-container {
        padding:8px 16px
    }
}

@media only screen and (max-width: 49.17em) and (max-width:54.99em) {
    header#pm-nav.pm-nav .pm-nav-container {
        padding:8px 12px
    }
}

@media only screen and (min-width: 90em) {
    header#pm-nav.pm-nav .pm-nav-container {
        padding:16px 50px
    }
}

header#pm-nav.pm-nav .pm-nav-container .pm-brand-logo {
    width: 112px;
    height: 40px;
    position: relative;
    top: 8px;
    background-position: left 0
}

@media only screen and (max-width: 64.99em) {
    header#pm-nav.pm-nav .pm-nav-container .pm-brand-logo {
        width:135px;
        height: 32px;
        top: 5px
    }
}

header#pm-nav.pm-nav .pm-nav-container .pm-nav-primary-components {
    box-sizing: border-box
}

header#pm-nav.pm-nav .pm-nav-container .pm-nav-primary-components a,header#pm-nav.pm-nav .pm-nav-container .pm-nav-primary-components a:link,header#pm-nav.pm-nav .pm-nav-container .pm-nav-primary-components a:visited {
    color: rgba(242,244,246,.9)
}

header#pm-nav.pm-nav .pm-nav-primary-components {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -moz-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    width: 100%
}

@media only screen and (min-width: 90em) {
    header#pm-nav.pm-nav .pm-nav-primary-components {
        padding:4px 0
    }
}

header#pm-nav.pm-nav .pm-nav-logo {
    display: block;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

header#pm-nav.pm-nav .pm-brand-logo {
    background-image: url("../images/logo.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px
}

.pm-nav-mobile-trigger {
    display: none !important;
}